@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@import "base";

@font-face {
  font-family: "Fira Sans";
  src: url(../fonts/FiraSans-Regular.ttf);
  font-weight: 400, 500, 600, 700, 800;
  font-style: normal;
}

body {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

$oscuro: #283035;
$azul: #03658c;
$detaile: #c7cacb;
$fondo: #dee1e3;

.blog-nav,
.footer_blog {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
  font-family: "Fira Sans", sans-serif;
}

.blog-card-post {
  display: flex;
  max-width: 1900px;
  flex-direction: column;
  flex: 1 0 100%;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

  a {
    color: inherit;

    &:hover {
      color: $color_prime;
    }
  }

  &:hover {
    .post-photo {
      transform: scale(1.3);
    }
  }

  .meta {
    position: relative;
    display: flex;
    z-index: 0;
    height: auto;
  }

  .post-photo {
    display: flex;
    width: 100%;
    min-height: 100%;
    height: 500px;
    background-image: url(../images/image-1.jpg);
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }

  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: $color_white;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    font-size: 0.9rem;

    a {
      text-decoration: dotted underline;
    }

    ul li {
      display: inline-block;
    }

    .author:before {
      font: var(--fa-font-solid);
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      font: var(--fa-font-solid);
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        font: var(--fa-font-solid);
        content: "\f02b";
        margin-right: 10px;
      }

      li {
        margin-right: 2px;

        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }

  .description-post {
    padding: 1rem;
    text-align: justify;
    background: $color_white;
    position: relative;
    z-index: 1;

    h1,
    h2 {
      font-family: "Fira Sans", sans-serif;
    }

    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
  }

  p {
    position: relative;
    margin: 1rem 0 0;

    &:first-of-type {
      margin-top: 1.25rem;

      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }

  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: column;
    max-width: 100%;

    .meta {
      max-width: 100%;
      height: auto;
    }

    .description-post {
      max-width: 100%;
    }
  }
}

a {
  color: $azul;
  text-decoration: none;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

.comments-container {
  margin: 60px auto 15px;
  width: 1280px;
  max-width: 100%;

  h2 {
    font-size: 36px;
    color: $oscuro;
    font-weight: 400;
  }
}

.comments-list {
  margin-top: 30px;
  position: relative;

  .comment-main-level:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    clear: both;
  }

  &:before {
    content: "";
    width: 2px;
    height: 100%;
    background: $detaile;
    position: absolute;
    left: 32px;
    top: 0;
  }

  &:after {
    content: "";
    position: absolute;
    background: $detaile;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid $fondo;
    border-radius: 50%;
  }

  li {
    margin-bottom: 15px;
    display: block;
    position: relative;

    &:after {
      content: "";
      display: block;
      clear: both;
      height: 0;
      width: 0;
    }
  }

  .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    background-image: url(../images/aiony-haust.jpg);
    background-size: cover;
    background-position: center;
    z-index: 99;
    float: left;
    border: 3px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .comment-avatar-person {
    width: 65px;
    height: 65px;
    position: relative;
    background-image: url(../images/christopher-campbell.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    z-index: 99;
    float: left;
    border: 3px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .comment-box {
    width: 1200px;
    max-width: 100%;
    float: right;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

    &:before,
    &:after {
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      display: block;
      border-width: 10px 12px 10px 0;
      border-style: solid;
      border-color: transparent #fcfcfc;
      top: 8px;
      left: -11px;
    }

    &:before {
      border-width: 11px 13px 11px 0;
      border-color: transparent rgba(0, 0, 0, 0.05);
      left: -12px;
    }

    .comment-head {
      background: #fcfcfc;
      padding: 10px 12px;
      border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      border-radius: 4px 4px 0 0;

      i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #a6a6a6;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: $azul;
        }
      }

      span {
        float: left;
        color: #999;
        font-size: 13px;
        position: relative;
        top: 1px;
      }
    }

    .comment-name {
      color: $oscuro;
      font-size: 14px;
      font-weight: 700;
      float: left;
      margin-right: 10px;

      a {
        color: $oscuro;
      }

      &.by-author {
        color: $azul;

        a {
          color: $azul;
        }

        &:after {
          content: "author";
          background: $azul;
          color: #fff;
          font-size: 12px;
          padding: 3px 5px;
          font-weight: 700;
          margin-left: 10px;
          border-radius: 3px;
        }
      }
    }

    .comment-content {
      background: #fff;
      padding: 12px;
      font-size: 15px;
      color: #595959;
      border-radius: 0 0 4px 4px;
    }
  }
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;

  &:before,
  &:after {
    display: none;
  }

  li {
    &:before {
      content: "";
      width: 60px;
      height: 2px;
      background: $detaile;
      position: absolute;
      top: 25px;
      left: -55px;
    }

    .comment-avatar {
      width: 50px;
      height: 50px;
    }

    .comment-box {
      width: 1100px;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
    max-width: 100%;
  }

  .comments-list .comment-box {
    width: 390px;
    max-width: 100%;
  }

  .reply-list .comment-box {
    width: 320px;
    max-width: 100%;
  }
}
